body {
    width: 90%;
    background-color: #384e56;
    background-image: url("../img/wp4392286 copy.jpg");
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}
header{
    width: 100%;
}


.headersection{
    text-align: center;
    margin-left: 30%;
    margin-right:20%;
    margin-bottom: 5%;
    font-family: 'Open Sans', sans-serif;
}

img{
    float: right;
    margin: 20px;
}
h1 {
    color: #c4cdc1;
    text-shadow: #858e82;
    font-size: 100px;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h3{
    color: #c4cdc1;
    font-family: 'Open Sans', sans-serif;

}

p{
    color: #c4cdc1;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #f4a261;
    font-family: 'Open Sans', sans-serif;
}

a:visited {
    color: #ffb700;

}

a:active {
    color: #9d4800;
}

a:hover {
    color: #ff7070;
    text-transform: capitalize;
}

.firstsection{
    background-color: #2f575d;
    color: #c4cdc1;
    margin-left: 40%;
    margin-right: 30%;
    border-left-style: dashed;
    border-width: 3px;

}

.secondsection {
    margin-left: 40%;
    margin-right: 30%;
    margin-top: 5%;
    margin-bottom: 5%;

}

table, th, td {
    border: solid #2f575d;
    margin: auto;
    table-layout: fixed;
    color: #c4cdc1;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

.linksection{
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 30%;
    margin-bottom: 5%;
    font-size: 20px;
}

q, blockquote{
    font-size: 160%;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
}
.bottomsection {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-left: 40%;
    margin-right: 30%;
}

.footersection {
    text-align: center;
    color: #c4cdc1;
    margin-left: 40%;
    margin-right: 30%;
    margin-top: 10%

}

.bad {
    color: #8e0700;
}

.good{
    color: #096900;
}

.farmer {
    border-left-style: solid; border-color: #f4be61;
}

.they {
    border-left-style: solid; border-color: #f59586;
}