
body {
    background-image: url("../img/wp4392286.jpg");
    background-repeat: no-repeat;
    background-size: auto;

    background-color: #010101;


}

.main-box{

    align-content: center;
    text-align: center;
    max-width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    padding: 25px;



}
figure {
    background-color: #8fa2a6;
    width: 20%;
    margin: auto;
}

.photo {
    float: right;

    margin-top: 100px;
    margin-left: 100px;
    width: 600px;
    height: 400px;
}





h1 {
    font-family: 'Open Sans', sans-serif;
    color: #efefef;
    text-align: center;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    color: #efefef;
    text-align: center;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    color: #efefef;
    text-align: center;
    margin: auto;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    color: #efefef;
    text-align: center;
}



a:hover {
    color: #7e985b;
}
a {
    color: #096900;

}
a:active {

    color: #d9bd24;
}
a:visited {

    color: #d9b765;
}
 footer {
     font-family: 'Open Sans', sans-serif;
     text-align: center;
     color: #efefef;
 }



table {
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    border: 1px solid black;
    width: 50%;
    margin: auto;
    text-align: center;
    align-items: center;
    align-content: center;
    alignment: center;
    table-layout: fixed;
}
table, td, th {
    border: 1px solid black;
}
.two {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #ffffff;
    word-spacing: 5px;
    font-size: 16px;
    margin: auto;
    font-style: normal;
}
.three {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    color: #010101;

}
blockquote{
    font-family: 'Open Sans', sans-serif;
    background-color: #95a8ac;
    width:95%;
    font-style: italic;
    font-size: 160%;
    border-left-style: dashed;
    border-width: 3px;
    border-spacing: 30px;
}

q {
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    font-size: 160%;
    border-spacing: 30px;
    border-width: 3px;
    border-left-style: solid;
    text-space: 80px;
    text-shadow: #474c4a;
}




